.form-add-post {
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 15px;
}

#input-add-post {
    width: 95%;
    height: 100px;
    background-color: #FFD7D7;
    border: 0px;
    border-radius: 20px;
    text-indent: 10px;
}

#bienvenue-feed {
    text-align: center;
}

.container-card {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container-card>ul {
    display: flex;
    align-items: center;
    flex-direction: column;
}