.container-menu-home {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 15px;
}

.container-menu-home>button {
    width: 60%;
    height: 60px;
    border-radius: 20px;
    align-self: center;
    border: 0px;
    font-size: 25px;
    background-color: #959BC2;
    margin: 5px;
}