.container-navbar {
    display: flex;
    width: 80%;
    margin: 15px auto 0 auto;
    justify-content: center;
}

.container-navbar>ul {
    display: flex;
    width: 80%;
    margin: 0 auto 0 auto;
    justify-content: space-evenly;
}