.formInscription {
    height: 600px;
    align-self: center;
}

.container-profile-update {
    width: 100%;
}

.form-update-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.description-input-update>label, .description-input-update>span {
    width: 50%;
}

#avatar-update-image {
    width: 30%;
    height: 30%;
    border-radius: 30%;
}

.description-input-update {
    width: 100%;
    display: flex;
}

.avatar-update {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.avatar-update>button, .avatar-update>input {
    height: auto;
}

.update-image {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
}

.update-image>label {
    text-align: center;
}

.formImageUpdate {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}